<div class="container d-flex justify-content-center align-items-center">
  <nav class="navbar navbar-expand-sm navbar-light bg-none">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/wedding">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Wedding Info
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/wedding/location">Location</a></li>
              <li><a class="dropdown-item" href="/wedding/accomodation">Accomodation</a></li>
              <li><a class="dropdown-item" href="/wedding/questions">Q&As</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wedding Gifts</a>
          </li>
        </ul>
        <div class="navbar-nav me-auto">
          <% if(currentUser) { %> 
            <a href="/logout" class="nav-link">Logout</a>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>
</div>