<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <title>Grace & Nathan's Wedding</title>
</head>

<body class="d-flex flex-column vh-100">
    <header class="container">
        <%- include('../partials/flash')%>
        <h1 class="display-6 mt-2 text-center">The Wedding of Grace & Nathan</h1>
        <% if(currentUser) {%> 
            <%- include('../partials/navbar')%>
        <% } %> 
    </header>   
    
    <main>
        <%- body %>
    </main>
    
    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/validation.js"></script>
</body>