<% layout("/layouts/boilerplate") %>

<div class="container mt-2">
    <script id='script_myregistry_giftlist_iframe' type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=_zPuq3xqWBbZyhmV4Taylg2&v=2'></script>
</div>
