<% layout("/layouts/boilerplate") %>
<div class="container mt-2 text-center">
    <h1 class="h3"><strong>Location</strong></h1>
    <div>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2418.9502108200863!2d1.1927247157034113!3d52.67893687984457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9e00c7308579d%3A0xaff7e69d814c23d2!2sSt%20Edmund%E2%80%99s%20Church!5e0!3m2!1sen!2suk!4v1633027566147!5m2!1sen!2suk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>