<% layout("/layouts/boilerplate") %>

<div class="container mt-2">
    <h1 class="text-center h3 mb-5"><strong>Q&As</strong></h1>
    <% for(let i = 0; i < questions.length; i++) {%>
        <div>
            <h1 class="h5"><strong><%= questions[i].question %></strong></h1>
            <p><%= questions[i].answer %>
                <% if(currentUser.isAdmin === true) { %> 
                    <form action="/wedding/questions?_method=DELETE" method="POST">
                        <input type="text" id="question" name="question" value="<%= questions[i].question %>" hidden>
                        <button class="btn btn-primary btn-sm">Delete</button>
                    </form>
                <% } %> 
            </p>
        </div> 
    <% } %> 
</div>

