<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Wedding Website</title>
</head>
<body class="d-flex text-center text-white bg-dark">
    <div class="container-fluid bg-image">
    <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="display-3">The Wedding of <br>Grace & Nathan</br></h1>
            <p class="lead title-text"> 15th July 2022 - 1pm</p>
            <p class="h6">St. Edmund's Church, Taverham</p>
            <a href="/wedding" class="btn btn-light">Enter</a>
    </div>
</div>
    <script src="/javascripts/bootstrap.bundle.js"></script>
</body>
</html>