<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="icon" sizes="192x192" href="https://cdn.pixabay.com/photo/2017/02/01/11/28/culture-2029787_960_720.png">
    <title>The Wedding of Grace & Nathan</title>
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="container-fluid bg-image">
            <%- include('./partials/flash')%>
    <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="display-3">The Wedding of <br>Grace & Nathan</br></h1>
            <p class="lead title-text"> 15th July 2022 - 1pm</p>
            <p class="h6">St. Edmund's Church, Taverham</p>
            <a href="/login"><button class="btn btn-md btn-primary">Sign In</button></a>
    </div>
</div>
    <script src="/javascripts/bootstrap.bundle.js"></script>
</body>
</html>