<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/signin.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');</style>
</head>

    <body class="d-flex flex-column vh-100">
        <header class="container">
            <h1 class="display-6 mt-2 text-center">The Wedding of Grace & Nathan</h1>
        </header>

    <main class="container text-center">
        <form action="/login" method="POST" class="form-signin validated-form" novalidate>
            <img class="mb-4" src="/images/key.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

            <div class="mb-3 form-floating">
                <input class="form-control sr-only" type="text" id="username" name="username" placeholder=" " autofocus required>
                <label class="form-label" for="username">Name</label> 
                <div class="valid-feedback">Looks good!</div>
            </div>
            
            <div class="mb-3 form-floating">
                <input class="form-control" type="password" id="password" name="password" placeholder=" " required>
                <label class="form-label" for="password">Password</label>
                <div class="valid-feedback">Looks good!</div>
            </div>
            
            <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </main>
</body>
    