<% layout("/layouts/boilerplate") %>
<div class="container d-flex justify-content-center pt-3">
    <div class="card" style="width: 50rem;">
        <img src="https://images.pexels.com/photos/818649/pexels-photo-818649.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success btn-block">Login</button>
            </form>
            </form>
        </div>
    </div>
</div>