<link rel="stylesheet" href="stylesheets/auth.css">
<style>@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');</style>
<% layout("/layouts/boilerplate") %>
<div class="container d-flex justify-content-center pt-3">
    <div class="card" style="width: 25rem;">
        <img src="https://images.pexels.com/photos/818649/pexels-photo-818649.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form action="/register" method="POST" class="needs-validation" novalidate>
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="username" name="username" placeholder="John" required>
                    <label for="username" class="form-label">Username</label>
                    <div class="form-text">Your username will be your first name</div>
                </div>
                <div class="mb-3 form-floating">
                    <input type="password" class="form-control" placeholder="password" name="password" id="password" required>
                    <label for="password" class="form-label">Password</label>
                    <div class="form-text">You should have recieved your password with your invite</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>